/* tcl-marketing-app/src/App.css */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --primary-color: #cc5500;
  --secondary-color: #ffffff;
  --background-light: #f4f4f9;
  --background-dark: #121212;
  --text-light: #ffffff;
  --text-dark: #000000;
  --light-grey: #e0e0e0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-light);
}

#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.card {
  padding: 2em;
  background: var(--background-light);
  box-shadow: none;
  margin: 16px 0;
}

.read-the-docs {
  color: #888;
}

@media (max-width: 600px) {
  .project-title {
    display: none;
  }
  .project-icons {
    display: flex;
  }
  .project-icons button {
    display: none;
  }
  .project-icons .MuiIconButton-root {
    margin-left: 16px;
  }
}

.theme-toggle-icon {
  margin-left: 16px;
}

html, body, #root, .App {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.min-h-screen {
  min-height: 100vh;
}

.flex-grow {
  flex-grow: 1;
}

/* Remove conflicting header styles */

body[data-theme='dark'] {
  background-color: var(--background-dark);
  color: var(--text-light);
}

/* Additional Global Styles */
.MuiTypography-h4, .MuiTypography-h5, .MuiTypography-h6 {
  font-weight: 600;
}

/* Override Material-UI specific classes */
.css-12niy62 {
  color: black;
}

body[data-theme=light] .MuiPaper-root  {
  box-shadow: none !important;
}

@media (min-width: 1024px) {
  .css-s43fis {
    width: 100%;
  }
}

.MuiBox-root {
  color: #383838;
}